<div id="test1" class="col s12">
    <div class="col s12 m10 l10 push-m1 push-l1">
        <div class="card">
            <div class="card-image">
                <img src="Components/Images/elemationer.png">
                <span class="card-title">Hello Elemationer</span>
                <a onclick="index.CoreTasks('NewWindow',{UIPath:'../../index.html',Options:{width: 1000,height: 600,frame:false}})" id="newWindow"
                    class="btn-floating btn-large halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content grey lighten-4">
                <span class="black-text"><p>
                <b>Elemationer</b> (<u>Ele</u>ctron <u>Ma</u>terialize Applica<u>tion</u> Build<u>er</u>) is a <b>Materialize</b> design base desktop application builder
                You can create your application for any platform (Android is alien!) by <b>Electron</b> power and build your product with <b>electron-builder</b> 
                tools!
                <br>
                <b>OK!</b> Getting Start:
                <br>
                <br>
                                
                <b>First!</b>
                <br>
                <br>
                                
                Clone:
                <div class="code-box"> git clone https://gitlab.com/AlirezaDadrass/ELEMATIONER.git </div>
                And:
                <div class="code-box"> npm i </div>
                Finally:
                <div class="code-box"> npm start </div>
                Or:
                <div class="code-box"> "Launch" from debug panel (VSCode) </div>
                Greetings! your project is ready! Enjoy it!
                <br>
                <br>
                <b>Second!</b>
                <br>
                <br>
                For build your app just enter:
                <div class="code-box"> npm run x86 <u>OR</u> npm run x64 </div>
                And your app will be built into the "dist" folder!
                <br>
                <br>
                Framework structure:
                <div class="code-box">
                .<br>
                ├── src<br>
                │  ├── Core<br>
                │  │  ├── Controllers<br>
                │  │  │  └── [Contollers modules]<br>
                │  │  └── Database<br>
                │  │     └── [Database connections and modules]<br>
                │  ├── UI<br>
                │  │  ├── Components<br>
                │  │  │  ├── CSS<br>
                │  │  │  ├── Fonts<br>
                │  │  │  ├── Icons<br>
                │  │  │  ├── Images<br>
                │  │  │  └── JS<br>
                │  │  └── Views<br>
                │  │     └── [Window UI views]<br>
                │  │<br>
                │  ├── config.json [Main app script config]<br>
                │  └── elemationer.js [Main app script]<br>
                │<br>
                ├── .gitignore<br>
                ├── package-lock.json<br>
                ├── package.json<br>
                └── README.md<br>
                </div>
                                    </p></span>
            </div>
        </div>
    </div>
</div>
<div class="ContentLoader" EPath="test"></div>