/* Start font and background style */

@font-face {
  font-family: 'Yekan';
  src: url('../../../Components/Fonts/Yekan/Yekan.eot?#') format('eot'), /* IE6â€“8 */
  url('../../../Components/Fonts/Yekan/Yekan.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../../../Components/Fonts/Yekan/Yekan.ttf') format('truetype');
  /* Saf3â€”5, Chrome4+, FF3.5, Opera 10+ */
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: 'Roboto', 'Yekan' !important;
  padding: 0 !important;
}

body::before {
  background-size: cover;
  background-attachment: fixed;
  content: '';
  will-change: transform;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: fixed;
}

@media (max-width: 512px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 512px) and (min-resolution: 1.5dppx), (max-width: 1024px) and (-webkit-max-device-pixel-ratio: 1.5), (max-width: 1024px) and (max-resolution: 1.5dppx) {
  body::before {
    background-image: url('../../../Components/Images/bg_1024.jpg');
  }
}

@media (min-width: 513px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 513px) and (max-width: 1024px) and (min-resolution: 1.5dppx), (min-width: 1025px) and (max-width: 2048px) and (-webkit-max-device-pixel-ratio: 1.5), (min-width: 1025px) and (max-width: 2048px) and (max-resolution: 1.5dppx) {
  body::before {
    background-image: url('../../../Components/Images/bg_2048.jpg');
  }
}

@media (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1025px) and (min-resolution: 1.5dppx), (min-width: 2049px) and (-webkit-max-device-pixel-ratio: 1.5), (min-width: 2049px) and (max-resolution: 1.5dppx) {
  body::before {
    background-image: url('../../../Components/Images/bg_2880.jpg');
  }
}


/* End font and background style */


/* Start scrollbar override */

.scroll {
  height: 100% !important;
  margin-top: 15px !important;
  overflow: auto !important;
}

.scroll1::-webkit-scrollbar {
  width: 3px !important;
  right: 0;
}

.scroll1::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2) !important;
}

.scroll1::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4) !important;
}


/* End scrollbar override */


/* Start toolbar style */

.toolbar {
  -webkit-app-region: drag;
  background-color: rgba(255, 255, 255, 0.5);
  height: 36px;
}

.toolbar-title {
  color: #ffffff;
  font-size: 13px;
  float: left;
  margin: 9px 5px 5px 5px;
  /* direction: rtl */
}

.toolbar-disable-select-text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.toolbar-faveicon {
  width: 25px;
  height: auto;
  margin: 6px 5px 5px 8px;
  float: left
}

.toolbar-button-activate {
  -webkit-app-region: no-drag;
}

.toolbar-button {
  height: 10px;
  width: 10px;
  top: 7px;
  margin-right: 15px;
}

.toolbar-button-floating {
  float: right;
}

.toolbar-button-hovering {
  top: 10px;
  margin-right: 10px;
}

.toolbar-button-icon-hidden {
  opacity: 0 !important
}


/* End toolbar style */


/* Materialize override */

.card {
  /*  background-color: rgba(255, 255, 255, 0.9);
    direction: rtl */
  font-size: 13px;
  border-radius: 5px;
}


/* Materialize override */


/* Start icon rotation */

.icon-rotation {
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/* End icon rotation */


/* Start code box style */

.code-box {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 20px;
}


/* End code box style */